.title-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  height: 30px;
  padding: 5px;
}

.title {
  font-size: 1.2rem;
  font-weight: bold;
}

.buttons {
  display: flex;
}

.buttons button {
  border: none;
  background: none;
  color: #fff;
  font-size: 1.2rem;
  padding: 0 5px;
  cursor: pointer;
}

.buttons button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.buttons button i {
  pointer-events: none;
}

#close-btn:hover {
  background-color: #d9534f;
}

#minimize-btn:hover {
  background-color: #5bc0de;
}

#maximize-btn:hover {
  background-color: #5cb85c;
}